html {
  text-align: center;
  background-color: #201520;
  color: #efe3c8;
}

.App {
  display: flex;
  flex-direction: column;
}

nav {
  color: #ffffff;
  position: center;
}

nav img {
  width: 350px;
  height: 150px;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 5%;
}

main {
  display: flex;
  flex-direction: column;
}

.drink-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
  margin: 25px;
}

.drink {
  width: 330px;
  height: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
  border-radius: 5%;
  padding: 5px;
}

.drink:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 10);
}

.drink a {
  text-decoration: none;
  color: #efe3c8;
}

.drink a:hover {
  text-decoration: underline;
  color: #c94c4c;
}

/* Show Page Specifics */
.drink-edit {
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 10);
  border-radius: 5%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-bottom: 15px;
  margin-left: 25%;
  margin-right: 25%;
}
.drink-edit button {
  width: fit-content;
}

.drink-animation {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding:0;
  background-color: #F47D83;

}

#wrap {
  position: absolute;
  top:55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

#steam {
 position: absolute;
 width: 150px;
 height:150px;
 background-color: white;
 border-radius: 50%;
 margin-left: 75px;
 margin-top: -75px;
 z-index: 0;
 opacity: 0;
}

.steam-one {
  animation: steam-one 4s ease-out infinite;
}

.steam-three {
  animation: steam-one 4s ease-out 1s infinite;
}

@keyframes steam-one {
  0%{
    transform: translate(0) translate(0) scale(0.25);
    opacity: 0.25;
  }
  100%{
    transform: translateY(-200px) translateX(-20) scale(1);
    opacity: 0;
  }
}

.steam-two {
  animation: steam-two 4s ease-out 0.5s infinite;
}

.steam-four {
  animation: steam-two 4s ease-out 1.5s infinite;
}

@keyframes steam-one {
  0%{
    transform: translate(0) translate(0) scale(0.25);
    opacity: 0.25;
  }
  100%{
    transform: translateY(-200px) translateX(20) scale(1);
    opacity: 0;
  }
}

.cup-body {
  position: absolute;
  width: 100px;
  height: 200px;
  background-color: white;
  border-radius: 0 0 150px 150px;
  overflow: hidden;
  z-index: 1;
}

.cup-shade {
  position: absolute;
  width: 300px;
  height: 370px;
  margin-left: 45%;
  margin-top: -10px;
  transform: rotate(50deg);
  background-color: #ebebeb ;
}

.cup-handle {
  position: relative;
  right: -40px;
  width: 75px;
  height: 80px;
  border: 15px solid #ebebeb;
  margin-left: 135px;
  margin-bottom: 95px;
  border-radius: 0 80px 150px 0 ;
}

.saurce {
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 20px;
  border-radius: 0 0 150px 150px;
  background-color: white;
  z-index: 2;
}

.shadow {
  position: absolute;
  bottom: -4%;
  width: 100px;
  height: 10px;
  border-radius: 50%;
  background-color: #DC696F;
  
}